.wcloudwrds{
position: absolute;
color: #fff;
}

.finalword{
font-size: 6rem;
cursor: default;
position: absolute;
top: -9rem;
left: 17rem;
color: #fff;
letter-spacing: 8px;
text-align: center;
opacity:0;
font-weight: 700;

 -webkit-animation: showalways 2s linear 7s; /* Safari 4.0 - 8.0 */
  animation: showalways 2s linear 7s;
  animation-fill-mode: forwards;
}
@keyframes showalways {
  100% {opacity: 1;}
}

.finalword .bee-orangecolor{
color: #e9ad22;
transition: all 1s;


}

.finalword .bee-bluecolor{
color: #007399;
transition: all 1s;


}

div.borderXwidth span:before
{
    position: absolute;
    height: 5px;
    content: '';
    background: #e9ad22;
    transition: all 0.3s;
    width: 31%;
    left: 3px;
    top: 7px;
    

}
div.borderXwidth span:after
{
    position: absolute;
    height: 5px;
    content: '';
    background: #007399;
    transition: all 0.3s;
    width: 65%;
    right: 0px;
    bottom: 0px;
    
    
}

div.borderXwidth:hover span:before
{ 
width: 0%;
}

 div.borderXwidth:hover span:after
{
width: 0%;

}



.bee1 {
  -webkit-animation-name: bounceInLeft, h1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInLeft, h1;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
  left: 5rem;
  font-size: 5rem;
  top: -2rem;
  animation-fill-mode: forwards;



}

/* Standard syntax */
@keyframes h1 {
  
  100% {left:16rem; top:-9rem;font-size: 6rem;}
}

.bee2 {

  -webkit-animation-name: fadeInDown, p; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInDown, p;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;

  left: 8rem;
    top: 2.6rem;
    font-size: 4rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes p {
  
  100% {left:16.19rem; top:-9rem;font-size: 6rem;}
}



.bee3 {
  -webkit-animation-name: bounceInRight, h2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInRight, h2;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;

font-size: 4rem;
    left: 11rem;
    top: 5.5rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes h2 {
  
  100% {left:18.34rem;top:-9rem;font-size: 6rem;}
}


.bee4 {
  -webkit-animation-name: bounceInUp, h3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s;  /*Safari 4.0 - 8.0*/
  animation-name: bounceInUp, h3;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;

  font-size: 4.5rem;
    left: 27rem;
    top: -7.7rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes h3 {
  
  100% {left:28rem; top:-9rem;font-size: 6rem;}
}

.bee5 {
-webkit-animation-name: fadeInLeft, h4; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s;  /*Safari 4.0 - 8.0*/
  animation-name: fadeInLeft, h4;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
font-size: 3.7rem;
    left: 31rem;
    top: -3rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes h4 {
  
  100% {left:32.4rem; top:-9rem;font-size: 6rem;}
}

.bee6 {
  -webkit-animation-name: slideInDown, h5; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s;  /*Safari 4.0 - 8.0*/
  animation-name: slideInDown, h5;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
    font-size: 3.7rem;
    left: 26.5rem;
    top: -10.6rem;
    animation-fill-mode: forwards;


}

/* Standard syntax */
@keyframes h5 {
  
  100% {left:14.22rem; top:-9rem;font-size: 6rem;}
}


.bee7 {
-webkit-animation-name: fadeInUp ,h6; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInUp ,h6;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
    font-size: 3.7rem;
    left: 38rem;
    top: -14rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes h6 {
  
  100% {left:34rem; top:-9rem;font-size: 6rem;}
}

.bee8 {
-webkit-animation-name:slideInUp,h7; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: slideInUp,h7;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
    left: 42.5rem;
    top: -10rem;
    font-size: 3.7rem;
    animation-fill-mode: forwards;


}

/* Standard syntax */
@keyframes h7 {
  
  100% {left:36.2rem; top:-9rem;font-size: 6rem;}
}


.bee9 {
-webkit-animation-name: bounceInDown,h8; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s,1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s,5s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInDown,h8;
  animation-duration: 4s,1s;
  animation-delay: 0s,5s;
    font-size: 3.2rem;
    left: 43.7rem;
    top: -6.6rem;
    animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes h8 {
  
  100% {left:33.7rem; top:-9rem;font-size: 6rem;}
}


.bee10 {
-webkit-animation-name: fadeInRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInRight;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 24.8rem;
    top: -1rem;
    font-size: 6.5rem;
}
/* Standard syntax */
/*@keyframes h9 {
  0%   {color:#fff; left:24.8rem; top:-1rem;transform: rotate(0deg);}
  25%  {color:#75a3a3; left:30rem; top:3rem;transform: rotate(45deg);}
  75%  {color:#379091; left:12rem; top:-6rem;transform: rotate(90deg);}
  100% {color:#fff; left:24.8rem; top:-1rem;transform: rotate(0deg);}
}*/



.bee11 {
-webkit-animation-name: bounceInRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInRight;
  animation-duration: 4s;
  animation-delay: 0s;
    left: -11rem;
    top: -6.5rem;
    font-size: 5rem;
}

/* Standard syntax */
/*@keyframes h10 {
  0%   {color:#fff; left:-11rem; top:-6.5rem;transform: rotate(0deg);}
  25%  {color:#e68d53; left:-6.5rem; top:-16rem;transform: rotate(90deg);}
  50%  {color:#e6b737; left:-15rem; top:-16rem;transform: rotate(180deg);}
  75%  {color:#bdde2a; left:-6; top:-16rem;transform: rotate(270deg);}
  100% {color:#fff; left:-11rem; top:-6.5rem;transform: rotate(360deg);}
}*/

.bee12 {
-webkit-animation-name: bounceInDown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInDown;
  animation-duration: 4s;
  animation-delay: 0s;
    left: -3rem;
    top: -1.5rem;
    font-size: 2.8rem;
}

/* Standard syntax */
/*@keyframes h11 {
  0%   {color:#fff; left:-3rem; top:-1.5rem;transform: rotate(0deg);}
  25%  {color:#67eb26; left:5rem; top:-5rem;transform: rotate(90deg);}
  50%  {color:#00b7fa; left:12rem; top:-5rem;transform: rotate(180deg);}
  75%  {color:#de1dcb; left:16rem; top:-5rem;transform: rotate(270deg);}
  100% {color:#fff; left:-3rem; top:-1.5rem;transform: rotate(0deg);}
}*/


.bee13 {
-webkit-animation-name: bounceInUp; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: bounceInUp;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 14.2rem;
    top: -3rem;
    font-size: 2.5rem;
}

/* Standard syntax */
/*@keyframes h12 {
  0%   {color:#fff; left:14.2rem; top:-3rem;transform: rotate(0deg);}
  25%  {color:#4fd921; left:10rem; top:-7rem;transform: rotate(40deg);}
  50%  {color:#246cd1; left:25rem; top:3rem;transform: rotate(100deg);}
  75%  {color:#b8de50; left:32rem; top:0rem;transform: rotate(150deg);}
  100% {color:#fff; left:14.2rem; top:-3rem;transform: rotate(0deg);}
}*/


.bee14 {
-webkit-animation-name: fadeInLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInLeft;
  animation-duration: 4s;
  animation-delay: 0s;

    left: 5rem;
    top: -15.5rem;
    font-size: 3rem;
}

/* Standard syntax */
/*@keyframes h13 {
  0%   {color:#fff; left:5rem; top:-15.5rem;transform: rotate(0deg);}
  25%  {color:#ffaa80; left:5rem; top:-8rem;transform: rotate(50deg);}
  50%  {color:#6666ff; left:-6rem; top:-2rem;transform: rotate(120deg);}
  75%  {color:#00ff99; left:14rem; top:-12rem;transform: rotate(180deg);}
  100% {color:#fff; left:5rem; top:-15.5rem;transform: rotate(0deg);}
}*/

.bee15 {
-webkit-animation-name: fadeInRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInRight;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 45rem;
    top: -2.5rem;
    font-size: 1.5rem;
}

/* Standard syntax */
/*@keyframes h14 {
  0%   {color:#fff; left:45rem; top:-2.5rem;transform: rotate(0deg);}
  25%  {color:#ff6699; left:30rem; top:-9rem;transform: rotate(45deg);}
  50%  {color:#ff6666; left:35rem; top:-9rem;transform: rotate(120deg);}
  75%  {color:#66ffcc; left:50rem; top:-9rem;transform: rotate(270deg);}
  100% {color:#fff; left:45rem; top:-2.5rem;transform: rotate(0deg);}
}*/

.bee16 {
-webkit-animation-name: fadeInDown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInDown;
  animation-duration: 4s;
  animation-delay: 0s;
  left: 27rem;
    top: -12rem;
    font-size: 2rem;
}

/* Standard syntax */
/*@keyframes h15 {
  0%   {color:#fff; left:27rem; top:-12rem;transform: rotate(0deg);}
  25%  {color:#00e699; left:50rem; top:-25rem;transform: rotate(45deg);}
  50%  {color:#ffad33; left:-26rem; top:10rem;transform: rotate(90deg);}
  75%  {color:#ff6666; left:-6rem; top:0rem;transform: rotate(135deg);}
  100% {color:#fff; left:27rem; top:-12rem;transform: rotate(0deg);}
}*/

.bee17 {
-webkit-animation-name: zoomInRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: zoomInRight;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 1rem;
    top: 3.65rem;
    font-size: 2rem;
}

/* Standard syntax */
/*@keyframes h16 {
  0%   {color:#fff; left:1rem; top:3.65rem;transform: rotate(0deg);}
  25%  {color:#b30000; left:-15rem; top:-7rem;transform: rotate(90deg);}
  50%  {color:#ccff99; left:12rem; top:14.30rem;transform: rotate(180deg);}
  75%  {color:#f21f38; left:6rem; top:6rem;transform: rotate(270deg);}
  100% {color:#fff; left:1rem; top:3.65rem;transform: rotate(360deg);}
}*/

.bee18 {
-webkit-animation-name: fadeInUp; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInUp;
  animation-duration: 4s;
  animation-delay: 0s;

    left: 21rem;
    top: -2.3rem;
    font-size: 2.2rem;
}

/* Standard syntax */
/*@keyframes h17 {
  0%   {color:#fff; left:21rem; top:-2.3rem;transform: rotate(0deg);}
  25%  {color:#336b1e; left:35rem; top:-3rem;transform: rotate(90deg);}
  50%  {color:#debb6a; left:26rem; top:-9rem;transform: rotate(180deg);}
  75%  {color:#1a65d6; left:48rem; top:0rem;transform: rotate(90deg);}
  100% {color:#fff; left:21rem; top:-2.3rem;transform: rotate(0deg);}
}*/

.bee19 {
-webkit-animation-name: fadeInRightBig; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInRightBig;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 17rem;
    top: -12.6rem;
    font-size: 2rem;
}

/* Standard syntax */
/*@keyframes h18 {
  0%   {color:#fff; left:17rem; top:-12.6rem;transform: rotate(0deg);}
  25%  {color:#806ad9; left:30rem; top:-1rem;transform: rotate(10deg);}
  50%  {color:#f25f0a; left:23rem; top:-1rem;transform: rotate(20deg);}
  75%  {color:#9ee058; left:20rem; top:-12rem;transform: rotate(30deg);}
  100% {color:#fff; left:17rem; top:-12.6rem;transform: rotate(0deg);}
}*/

.bee20 {
-webkit-animation-name: fadeInLeftBig; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInLeftBig;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 15rem;
    top: -5.5rem;
    font-size: 2.3rem;
}

/* Standard syntax */
/*@keyframes h19 {
  0%   {color:#fff; left:15rem; top:-5.5rem;transform: rotate(0deg);}
  25%  {color:#e3101e; left:1rem; top:-1rem;transform: rotate(30deg);}
  50%  {color:#1de0d7; left:35rem; top:6rem;transform: rotate(60deg);}
  75%  {color:#b9e01d; left:20rem; top:15rem;transform: rotate(90deg);}
  100% {color:#fff; left:15rem; top:-5.5rem;transform: rotate(0deg);}
}*/

.bee21 {
-webkit-animation-name: fadeInUpBig; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInUpBig;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 0.5rem;
    top: -15rem;
    font-size: 6rem;
}

/* Standard syntax */
/*@keyframes h20 {
  0%   {color:#fff; left:0.5rem; top:-15rem;transform: rotate(0deg);}
  25%  {color:#61e01d; left:0rem; top:6rem;transform: rotate(30deg);}
  50%  {color:#9c35e6; left:0rem; top:12rem;transform: rotate(50deg);}
  75%  {color:#9c35e6; left:0rem; top:1rem;transform: rotate(75deg);}
  100% {color:#fff; left:0.5rem; top:-15rem;transform: rotate(360deg);}
}*/

.bee22 {
-webkit-animation-name: fadeInDownBig; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInDownBig;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 8rem;
    top: -12.8rem;
    font-size: 7rem;
    font-weight: bolder;
}

/* Standard syntax */
/*@keyframes h21 {
  0%   {color:#fff; left:8rem; top:-12.8rem;transform: rotate(0deg);}
  25%  {color:#e635b7; left:20rem; top:-12rem;transform: rotate(90deg);}
  50%  {color:#999; left:20rem; top:6rem;transform: rotate(180deg);}
  75%  {color:#8c0848; left:8rem; top:6rem;transform: rotate(270deg);}
  100% {color:#fff; left:8rem; top:-12.8rem;transform: rotate(360deg);}
}*/



.bee23 {
-webkit-animation-name: fadeInLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: fadeInLeft;
  animation-duration: 4s;
  animation-delay: 0s;
    left: -2rem;
    top: -7.7rem;
    font-size: 2.34rem;

}

/* Standard syntax */
/*@keyframes h22 {
  0%   {color:#fff; left:-2rem; top:-7.7rem;transform: rotate(0deg);}
  25%  {color:#b3e64e; left:-15rem; top:-8rem;transform: rotate(90deg);}
  50%  {color:#7ee32b; left:-15rem; top:-20rem;transform: rotate(180deg);}
  75%  {color:#25d615; left:-2rem; top:-20rem;transform: rotate(270deg);}
  100% {color:#fff; left:-2rem; top:-7.7rem;transform: rotate(360deg);}
}*/

.bee24 {
-webkit-animation-name: slideInRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: slideInRight;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 45rem;
    top: -1.5rem;
    font-size: 3rem;
}

/* Standard syntax */
/*@keyframes h23 {
  0%   {color:#fff; left:45rem; top:-1.5rem;transform: rotate(0deg);}
  25%  {color:#0dd473; left:40rem; top:9rem;transform: rotate(20deg);}
  50%  {color:#10e6a5; left:23rem; top:9rem;transform: rotate(80deg);}
  75%  {color:#1dd1bf; left:23rem; top:-10rem;transform: rotate(120deg);}
  100% {color:#fff; left:45rem; top:-1.5rem;transform: rotate(0deg);}
}*/

.bee25 {
-webkit-animation-name: slideInLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: slideInLeft;
  animation-duration: 4s;
  animation-delay: 0s;
    left: 22rem;
    top: 6rem;
    font-size: 1.7rem;
}
/* Standard syntax */
/*@keyframes h24 {
  0%   {color:#fff; left:22rem; top:6rem;transform: rotate(0deg);}
  25%  {color:#1bb4cf; left:20rem; top:-1rem;transform: rotate(45deg);}
  50%  {color:#2391cc; left:35rem; top:-10rem;transform: rotate(135deg);}
  75%  {color:#1164d9; left:12rem; top:3rem;transform: rotate(270deg);}
  100% {color:#fff; left:22rem; top:6rem;transform: rotate(360deg);}
}*/


span.offText{
animation-duration: 2s;
animation-delay: 4s;
animation-name: opacityOff;
animation-fill-mode: forwards;
}

@keyframes opacityOff {
    0% {
        opacity: 1;
		filter: blur(0rem);
    }

25% {
        opacity: 0.7;
    filter: blur(0.1rem);
    }

	50% {
        opacity: 0.5;
		filter: blur(0.2rem);
    }
	75% {
        opacity: 0.1;
		filter: blur(0.4rem);
    }

    100% {
        opacity: 0;
		filter: blur(0rem);
    top: 0rem;
    }

}
span.wrd1 {
  -webkit-animation-name: abc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
animation-name: abc;
animation-duration: 2s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

@keyframes abc {
25% {
color: #5d4409;
font-weight: 550;

}
50% {
color: #a27710;
font-weight: 600;

}
75% {
color: #d19815;
font-weight: 650;

}
100% {
color: #e9ad22;
font-weight: 700;

}
}

span.wrd2 {
  -webkit-animation-name: xyz; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
animation-name: xyz;
animation-duration: 2s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

@keyframes xyz {
25% {
color: #33ccff;

font-weight: 550;

}
50% {
color: #00bfff;

font-weight: 600;

}
75% {
color: #0099cc;

font-weight: 650;

}
100% {
color: #007399;
font-weight: 700;
}
}

.offText.font1 {
font-size: 3rem;
}
.wcloud{
-moz-animation: disappear 2s linear 9s; /* Firefox */
-webkit-animation: disappear 2s linear 9s; /* Safari 4.0 - 8.0 */
animation: disappear 2s linear 9s;
animation-fill-mode: forwards;
position: absolute;

}

@keyframes disappear {
  100% {opacity:0;}

}
/*-o-transition: opacity 0.5s linear; /* opera
-ms-transition: opacity 0.5s linear; /* IE 10
-moz-transition: opacity 0.5s linear; /* Firefox
-webkit-transition: opacity 0.5s linear; /*safari and chrome
transition: opacity 0.5s linear; /* vendorless fallback */
